.notice{

    @media (min-width: 768px){
        padding-top: 80px;
    }
}

.notice__content{
    display: flex;
    flex-direction: column;

    @media (min-width: 768px){
        height: 397px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.notice__carousel {
    width: 100%;
    margin-bottom: 50px;

    @media (min-width: 768px){
        width: calc(100% - 285px);
        margin-bottom: 0;
    }

    @media (min-width: 1200px){
        width: 74.5%;
    }
}

.notice__action {
    width: 270px;
    margin: 0 auto;

    @media (min-width: 768px){
        margin: 0;
        height: 100%;
    }

    @media (min-width: 1200px){
        width: 23%;
        margin: 0;
    }
}